body {
	margin: 0;
	height: 100vh;
	font-family: Helvetica, sans-serif;
	overflow-x: hidden;
}

/*
 * Header
 */
#header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: center;
	top: 0;
	background: #004191;
}

#header #cip_logo, #header #cip_logo_small {
	display: inline-block;
	height: 50px;
	padding: 7px;
	cursor: pointer;
}

#header #cip_logo_small {
	display: none;
}

#header ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	align-items: center;
}

#header li {
	display: block;
	color: #ffffff;
	margin-right:20px;
	padding: 6px;
	cursor: pointer;
	font-size: 14pt;
	font-weight: bold;
}

#header #langflags {
	margin-left: auto;
}

#header #langflags li img {
	border: 2px solid #ffffff;
	border-radius: 3px;
	height: 30px;
}

@media screen and (max-width: 1120px) {
	#header #cip_logo {
		display: none;
	}

	#header #cip_logo_small {
		display: inline-block;
		margin: 0 auto;
	}

	#header #mainmenu {
		justify-content: center;
	}

	#header #langflags {
		margin: auto;
	}
}


/*
 * Content
 */
#content {
	color: #232323;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#content .email {
	color: #ffffff;
}

#content #home-info {
	color: #ffffff;
	background: linear-gradient(to top, #00beff, #004191);
	padding-top: 10px;
	padding-bottom: 40px;
	width: 100vw;
}

#content #home-info-text {
	width: 70vw;
	margin: 0 auto;
	font-size: 1.2em;
}

#content #home-info h1 {
	margin: 0;
	padding-top: 10px;
}

#content #home-actions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 40px;
}

#content .home-action-circle {
	display: block;
	min-width: 350px;
	width: 350px;
	height: 350px;
	background: #00beff;
	border-radius: 50%;
	margin-right: 50px;
	margin-bottom: 50px;
	text-align: left;
	cursor: pointer;
	transition: background 0.2s;
}

#content .home-action-circle:hover {
	background-color: #232323;
	transition: background 0.2s;
}

#content .home-action {
	display: flex;
	height: 100%;
	padding-left: 60px;
	padding-right: 5px;
	flex-direction: column;
	justify-content: center;
}

#content .home-action .home-action-head {
	color: #ffffff;
	font-size: 15pt;
	font-weight: bold;
}

#content .home-action .home-action-content {
	color: #ffffff;
	font-size: 13pt;
	margin-top: 5px;
}

#content .home-action .rightarrow-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	height: 0;
}

#content .home-action .rightarrow-container img {
	height: 30px;
}

@media screen and (max-width: 500px) {
	#content .home-action-circle {
		min-width: 280px;
		width: 280px;
		height: 280px;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 30px;
	}

	#content .home-action .home-action-head {
		font-size: 12pt;
	}

	#content .home-action .home-action-content {
		color: #ffffff;
		font-size: 10pt;
		margin-top: 5px;
	}
}


/*
 * Form element boxes and content (buttons, text fields)
 */
#content input[type="text"], #content input[type="password"] {
	padding: 4px;
	font-size: 15px;
	border: 2px solid #000000;
}

#content input[type="text"]:focus, #content input[type="password"]:focus {
	border: 2px solid #00beff;
}

#content .form-element {
	position: relative;
	padding: 20px;
	box-shadow:inset 0px 0px 0px 2px #a0a0a0;
	max-width: 650px;
	width: 80vw;
	margin: 20px;
	padding-bottom: 60px;
}

#content .form-element input[type="text"], #content .form-element input[type="password"] {
	width: 100%;
}

#content .form-element button, #content .form-element input[type="button"], #content .form-element input[type="submit"] {
	position: absolute;
	bottom: 10px;
	right: 10px;
	text-transform: uppercase;
	padding: 14px 30px;
	background: #004191;
	transition: background 0.2s;
	border: none;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
}

#content .form-element button:hover, #content .form-element input[type="button"]:hover, #content .form-element input[type="submit"]:hover {
	background: #323232;
	transition: background 0.2s;
}

#content .form-element .form-element-header {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 5px;
}

#content .form-element .form-element-explanation {
	margin-bottom: 20px;
}

#content .form-element .form-email {
	display: flex;
	align-items: center;
}

#content .form-element .form-email-component {
	width: 120px !important;
}

#content .form-element .new-account-email-localpart {
	text-align: right;
}

#content .form-element .new-account-locale {
	line-height: 40px;
}

#content .form-element .new-account-locale .new-account-localebutton {
	display: inline-block;
	border: 3px solid #232323;
	height: 30px;
	line-height: 40px;
	cursor: pointer;
}

#content .form-element .new-account-locale .new-account-localebutton-selected {
	border: 3px solid #00beff;
}

/*
 * Responsive tables
 */
.form-table .form-row {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	align-items: center;
}

.form-table .form-col-label {
	flex: 1 0 120px;
	max-width: 220px;
	text-align: right;
	padding-right: 20px;
	font-weight: bold;
}

.form-table .form-col-input {
	flex: 1 0 180px;
	max-width: 300px;
	padding-right: 20px;
}

@media screen and (max-width: 500px) {
	.form-table .form-row {
		flex-wrap: wrap;
	}

	.form-table .form-col-label {
		text-align: left;
		max-width: none;
	}
}

/*
 * Not-ready form elements
 */
#content .form-element .form-element-not-ready {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(200, 200, 200, 0.8);
}

/*
 * Form element loading animation
 */
#content .form-element .form-element-loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(200, 200, 200, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

@keyframes loading-dots {
	0% {
		opacity: .2;
	}
	25% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: .2;
	}
}

#content .form-element .form-element-loading div {
	animation-name: loading-dots;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	border: 10px solid #004191;
	border-radius: 10px;
	margin-right: 5px;
}

#content .form-element .form-element-loading div:nth-child(2) {
	animation-delay: .15s;
}

#content .form-element .form-element-loading div:nth-child(3) {
	animation-delay: .3s;
}

/*
 * Complete form elements
 */
#content .form-element .form-element-complete {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(200, 200, 200, 0.8);
	box-shadow:inset 0px 0px 0px 2px #00a000;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

#content .form-element .form-element-complete .complete-tick {
	color: #00a000;
	font-size: 100px;
}

/*
 * FAQ
 */
#faq-articles {
	margin-top: 20px;
	width: 70vw;
	font-size: 16px;
}

.faq-article {
	border: 1px solid #c0c0c0;
	margin-bottom: 10px;
}

.faq-article-header {
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	padding: 10px;
	background: #f0f0f0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.faq-article-header:hover {
	color: #004191;
}

.faq-article-content {
	font-size: 14px;
	border-top: 1px solid #c0c0c0;
	padding: 10px;
}

/*
 * Error messages
 */
#content .form-element .form-element-error {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow:inset 0px 0px 0px 2px #e92918;
	pointer-events: none;
}

#content .form-element .form-element-error-message {
	padding: 5px;
	padding-left: 10px;
	border-radius: 5px;
	border: 1px solid #fac8bf;
	border-left: 8px solid #e92918;
	background: #fcf4f2;
	color: #a6200f;
	margin-bottom: 10px;
}

/*
 * Success Message
 */
#success-message {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(200, 200, 200, 0.6);
}

#success-message #success-dialog {
	text-align: center;
	padding: 30px 80px;
	font-size: 20px;
	background: #ffffff;
	border: 2px solid #00a000;
}

#success-message #success-dialog-ok {
	text-transform: uppercase;
	padding: 14px 30px;
	background: #004191;
	transition: background 0.2s;
	border: none;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
	margin-top: 20px;
}

#success-message #success-dialog-ok:hover {
	background: #323232;
	transition: background 0.2s;
}
